.canvas-preview {
  margin: 0 5%;
  color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: relative;

  &-community-created {
    margin-bottom: 0.5rem;
  }

  &-name {
    position: absolute;
    top: 2rem;
    left: 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
  }
  &-image {
    height: 10rem;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &-details {
    background-color: white;
    letter-spacing: 0.5px;
    color: black;
    padding: 1rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
